<p>
  This hands-on workshop will cover basic concepts and tools
  around version control using Git.
  Participants will be encouraged to help one another
  and should end up walking away understanding the benefits of
  version control systems, and posessing competency with 
  using Git and Github for version control.

  Much of the materials, including this website, is adapted from
  that of The Carpentries. <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.

  This course is a test run in preparation for my certification
  with The Carpentries, and paritipation in CU's
  <a href="https://rcfoundations.research.columbia.edu/>"Research Computing Foundations</a> program
   through CUIT and CU Libraries.
</p>
<p align="center">
  <em>
    For more information on what The Carpentries teaches and why,
    please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>"
    and https://software-carpentry.org/about/.
  </em>
</p>
